.card{
    width: 100px;
    height: 50px;
    border: 1px solid gray;
}
#lasta{
    color: red;
    font-size: 100px;
}

.popup{
    position: absolute;
    color: gray;
    border: 1px solid gray;
    width: 400px;
}
.hidden{
    display: none;
}
.absoluteB{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}
.absoluteN{
    position: absolute;
    top: 0;
    left: 50px;
    margin: 20px;
}
.stair{
    border: 1px solid gray;
    margin: 5px;
}
.stair-chld{
    border: 1px solid gray;
    margin: 5px;
    margin-left: 10px;
}